<header>
  <div id="bgvideo">
    <%= video_tag "fog.mp4", :class => "frontpage-video", :autoplay => true, :loop => true %>
    <div class="w1024">
      <div class="title">
        <p>Design is <strong>Roopin.</strong></p>
        <h1><strong>HUGO HSIAO</strong></h1>
        <p><strong>is here.</strong> Where are you?</p>
        <button type="button"><strong>HIRE US</strong></button>
      </div>
    </div>
  </div>

</header>

<section id="about-roopin">
  <div class="w1024">
  <h3>ABOUT ROOPIN</h3>
    <div class="row-fluid">
      <div class="col-xs-6 about-left">
        <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur id distinctio praesentium. Reprehenderit ipsam adipisci, molestias sapiente nam quaerat voluptatum. </strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor commodi hic iure dignissimos maiores tempore repellendus minus quos quam odio id, molestiae perferendis, ratione at veniam dolorum voluptate mollitia neque sapiente qui ad assumenda obcaecati. Temporibus iure, in debitis facilis!</p>
        <button type="button"><strong>SEE ALL SERVICES</strong></button>
      </div>

      <div class="col-xs-6 about-right">
        <div class="row-fluid">
          <div class="col-xs-6">
            <div class="wrap-icon"><i class="fa fa-desktop" aria-hidden="true"></i>
            </div><h4>GRAPHIC DESIFN</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis vitae enim.</p></div>
          <div class="col-xs-6">
            <div class="wrap-icon"><i class="fa fa-camera" aria-hidden="true"></i>
            </div><h4>PHOTOGRAPHY</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis vitae enim.</p></div>
          <div class="col-xs-6">
            <div class="wrap-icon"><i class="fa fa-video-camera" aria-hidden="true"></i>
            </div><h4>MOTION GRAPHIC</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis vitae enim.</p></div>
          <div class="col-xs-6">
            <div class="wrap-icon"><i class="fa fa-code" aria-hidden="true"></i>
            </div><h4>SOFTWARE DEVELOP</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis vitae enim.</p></div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr color="#DFDFDF" size="1" width="95%" align="center">

<section id="statistics">
  <div class="w1024">
    <div class="row-fluid">
      <div class="col-xs-3 state-count"><h2><strong>985</strong></h2><p>HAPPY CLIENT</p></div>
      <div class="col-xs-3 state-count"><h2><strong>1285</strong></h2><p>PROJECT COMPLETED</p></div>
      <div class="col-xs-3 state-count"><h2><strong>465</strong></h2><p>CUPS OF COFFEE</p></div>
      <div class="col-xs-3 state-count"><h2><strong>230</strong></h2><p>AWARD WINNING</p></div>
    </div>
  </div>
</section>
<hr color="#DFDFDF" size="1" width="95%" align="center">

<section id="team">
  <div class="w1024">
    <h3>MEET OUR TEAM</h3>
    <div class="row-fluid">
      <div class="wrap-team-img">
        <div class="col-xs-4 person">
          <%= image_tag("bonge.png", class: "team-img") %>
          <div class="person-name">
            <h4><strong>HUGO HSIAO</strong></h4>
            <p>COMPANY OWNER</p>
          </div>
          <div class="person-contact">
            <a href="https://www.facebook.com/TaiwannoI"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-xs-4 person">
          <%= image_tag("r2.png", class: "team-img") %>
          <div class="person-name">
            <h4><strong>SANDRA TERRIABLE</strong></h4>
            <p>CEO & FOUNDER</p>
          </div>
          <div class="person-contact">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-xs-4 person">
          <%= image_tag("r3.png", class: "team-img") %>
          <div class="person-name">
            <h4><strong>MICHAEL SHEA</strong></h4>
            <p>PHOTOGRAPHR</p>
          </div>
          <div class="person-contact">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-xs-4 person">
          <%= image_tag("r4.png", class: "team-img") %>
          <div class="person-name">
            <h4><strong>BRYAN CRANSTON</strong></h4>
            <p>PUBLIC RELATIONSHIP</p>
          </div>
          <div class="person-contact">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-xs-4 person">
          <%= image_tag("r5.png", class: "team-img") %>
          <div class="person-name">
            <h4><strong>DEAN NORRIS</strong></h4>
            <p>ACCOUNTANT</p>
          </div>
          <div class="person-contact">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-xs-4 person">
          <%= image_tag("r6.png", class: "team-img") %>
          <div class="person-name">
            <h4><strong>ANNA GUNN</strong></h4>
            <p>HUMAN RESOURCES</p>
          </div>
          <div class="person-contact">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr color="#DFDFDF" size="1" width="95%" align="center">

<section id="boss">
  <div class="w1024 clearfix">
    <div class="wrap-boss pull-left">
      <%= image_tag("bonge.png", :class => "boss-img") %>

      <div class="intro">
      <h4><strong>HUGO HSIAO</strong></h4>
      <p class="comp-owner">COMPANY OWNER</p>
      <p class="describe-boss">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ex fuga asperiores adipisci, enim explicabo, voluptatum maiores obcaecati nesciunt quisquam repellat facere aliquam sit cum, veritatis tempore saepe recusandae.</p>
    </div>
    </div>
  </div>
</section>

<hr color="#DFDFDF" size="1" width="95%" align="center">

<section id="works">
  <div class="w1024">
    <div class="work-bar clearfix">
      <h3>OUR WORKS</h3>
      <ul>
        <li class="active"><a href="#">ALL</a></li>
        <li><a href="#">WEB DESIGN</a></li>
        <li><a href="#">MOBILE DESIGN</a></li>
        <li><a href="#">PHOTOGRAPHY</a></li>
        <li><a href="#">MOTION GRAPHIC</a></li>
      </ul>
    </div>
    <div class="girls-photo">
      <div class="row-fluid">
        <div class="col-xs-4 wrap-girls">
           <%= image_tag("g1.png") %> <%= image_tag("g2.png", class: "g2") %>
        </div>
        <div class="col-xs-4 wrap-girls">
           <%= image_tag("g3.png") %> <%= image_tag("g4.png") %>
        </div>
        <div class="col-xs-4 wrap-girls">
           <%= image_tag("g5.png") %> <%= image_tag("g6.png") %>
        </div>
      </div>
    </div>
    <div class="wrap-button"><button><strong>SEE ALL WORKS</strong></button></div>

  </div>
</section>

<section id="blogs">
  <div class="w1024">
    <h3><strong>LATEST BLOGS</strong></h3>
    <div class="blog clearfix">
      <div class="row-fluid">
        <div class="col-xs-4">
          <%= image_tag("b1.png") %>
        </div>
        <div class="col-xs-8">
          <div class="blog-text">
            <h4><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum, repudiandae mollitia nulla maiores officiis.</strong></h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis repudiandae repellendus voluptate similique, nam dicta iusto perspiciatis, nostrum nesciunt impedit quibusdam eum adipisci quaerat minus animi, optio consequatur facilis quod!</p>
            <p class="blog-time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp june 10, 2016</p>
          </div>
        </div>
      </div>
    </div>
    <div class="blog clearfix">
      <div class="row-fluid">
        <div class="col-xs-4">
          <%= image_tag("b2.png") %>
        </div>
        <div class="col-xs-8">
          <div class="blog-text">
            <h4><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum, repudiandae mollitia nulla maiores officiis.</strong></h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis repudiandae repellendus voluptate similique, nam dicta iusto perspiciatis, nostrum nesciunt impedit quibusdam eum adipisci quaerat minus animi, optio consequatur facilis quod!</p>
            <p class="blog-time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp june 10, 2016</p>
          </div>
        </div>
      </div>
    </div>
    <div class="blog clearfix">
      <div class="row-fluid">
        <div class="col-xs-4">
          <%= image_tag("b3.png") %>
        </div>
        <div class="col-xs-8">
          <div class="blog-text">
            <h4><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum, repudiandae mollitia nulla maiores officiis.</strong></h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis repudiandae repellendus voluptate similique, nam dicta iusto perspiciatis, nostrum nesciunt impedit quibusdam eum adipisci quaerat minus animi, optio consequatur facilis quod!</p>
            <p class="blog-time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp june 10, 2016</p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap-button"><button type="button"><strong>SEE ALL BLOGS</strong></button></div>
  </div>
</section>

<section id="client">
  <div class="w1024">
    <h3>OUR CLIENTS</h3>
    <div class="client-logo clearfix">
      <div class="row-fluid">
        <div class="col-xs-4 for-border">
          <div class="wrap-client-logo bot-border">
            <%= image_tag("c1.png") %>
          </div>
          <div class="right-border"></div>
        </div>
        <div class="col-xs-4 for-border"><div class="wrap-client-logo bot-border"> <%= image_tag("c2.png") %></div><div class="right-border"></div></div>
        <div class="col-xs-4 for-border"><div class="wrap-client-logo bot-border"> <%= image_tag("c3.png") %></div></div>
        <div class="col-xs-4 for-border"><div class="wrap-client-logo bot-border"> <%= image_tag("c4.png") %></div><div class="right-border"></div></div>
        <div class="col-xs-4 for-border"><div class="wrap-client-logo bot-border"> <%= image_tag("c5.png") %></div><div class="right-border"></div></div>
        <div class="col-xs-4 for-border"><div class="wrap-client-logo bot-border"> <%= image_tag("c6.png") %></div></div>
        <div class="col-xs-4 for-border"><div class="wrap-client-logo"> <%= image_tag("c7.png") %></div><div class="right-border"></div></div>
        <div class="col-xs-4 for-border"><div class="wrap-client-logo"> <%= image_tag("c8.png") %></div><div class="right-border"></div></div>
        <div class="col-xs-4 for-border"><div class="wrap-client-logo"> <%= image_tag("c9.png") %></div></div>
      </div>
    </div>

  </div>
</section>

<section id="contact">
  <div class="w1024">
    <h3><strong>CONTACT US</strong></h3>
    <div class="row-fluid wrap-all-info clearfix">
      <div class="col-xs-3">
        <div class="info"> <div class="wrap-icon"><i class="fa fa-lg fa-phone" aria-hidden="true"></i></div><div class="detail"><h5>Phone</h5><p>02 27295678</p><p>+86 986 026 678</p></div> </div>
        <div class="info"> <div class="wrap-icon"><i class="fa fa-lg fa-envelope" aria-hidden="true"></i></div><div class="detail"><h5>Email</h5><p>info@hugo.com</p><p>hsiao@hugo.com</p></div> </div>
        <div class="info"> <div class="wrap-icon"><i class="fa fa-lg fa-map-marker" aria-hidden="true"></i></div><div class="detail"><h5>Address</h5><p>台北市忠孝東路4段</p><p>Taiwan Taipei</p></div> </div>
      </div>
      <div class="col-xs-9">
        <div class="info-input">
          <div class="top-input">
            <div class="wrap-name-input">
              <h5><strong>Name:</strong></h5>
              <input type="text" name="name" class="name-input">
            </div>
            <div class="wrap-mail-input">
              <h5><strong>Email:</strong></h5>
              <input type="text" name="mail" class="mail-input">
            </div>
          </div>
          <div class="bot-input">
            <h5><strong>Message:</strong></h5>
            <input type="text" name="message" class="message-input">
          </div>
          <div class="wrap-button">
            <button type="button"><strong>SEND MESSAGE</strong></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="w1024">
    <div class="row-fluid">
      <div class="col-xs-4 wrap-little-logo">
        <%= image_tag("blacklogo.png") %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eum consequatur ducimus, esse dolore sit illum hic quis! Architecto.</p>
      </div>
      <div class="col-xs-4 wrap-little-blog">
        <h5><strong>LATEST BLOGS</strong></h5>
        <div class="little-blog">
          <%= image_tag("b1.png") %>
          <div class="blog-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi!</p>
            <p class="blog-time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp june 10, 2016</p>
          </div>
        </div>

        <hr color="#848484" size="1" width="100%" align="center">

        <div class="little-blog">
          <%= image_tag("b2.png") %>
          <div class="blog-text">
            <p>sit amet, consectetur adipisicing elit. Sequi dignissimos saepe, sed nihil!</p>
            <p class="blog-time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp june 10, 2016</p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 wrap-little-contact">
        <h5><STRONG>GET IN TOUCH</STRONG></h5>
        <p class="address">100443 Lorem ipsum dolor sit amet, 900-543consectetur adipisicing elit.</p>
        <h5>0912345678</h5>
        <p>hsiao@hugo.com</p>
        <p>good@hotmail.com</p>
        <ul>
          <li><a href="https://www.facebook.com/TaiwannoI"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-12">
        <hr color="#848484" size="1" width="100%" align="center">
        <div class="wrap-bottom">
          <p class="pull-left">&copy;2016 Copyright Hugohsiao Allright reserved</p>
          <ul class="pull-right">
            <li class="active"><a href="#"><strong>HOME</strong></a></li>
            <li><a href="#"><strong>ABOUT</strong></a></li>
            <li><a href="#"><strong>TEAM</strong></a></li>
            <li><a href="#"><strong>WORKS</strong></a></li>
            <li><a href="#"><strong>BLOG</strong></a></li>
            <li><a href="#"><strong>CLIENTS</strong></a></li>
            <li><a href="#"><strong>CONTACT</strong></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
